<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Consumer Ship To Creation Page</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.min.css" rel="stylesheet" id="bootstrap-formhelpers-css">
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
  <script src="js/validation.js"></script>
</head>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2 class="text-primary">Consumer Ship To Creation Page</h2>
      <div class="panel panel-primary">
        <div class="panel-heading">New parties should only be created if the product is to be delivered to a different person. Otherwise use the Ship
          
          To Only option.</div>
        <div class="panel-body">
       <form action="#" th:action="@{/app/consumer}" th:object="${consumer}" method="POST" id="contact_form">
            <div class="form-group col-md-12">
              <label>
                <input type="radio">
              </label>
              Ship To Only
            </div>
            <div class="form-group col-md-12">
              <label>
                <input type="radio">
              </label>
              New Party and Ship To
            </div>
            <div class="form-group col-md-6">
              <label for="firstName">First Name</label>
      
              <input type="text" name="first_name" class="form-control" id="first_name" th:field="*{firstName}" placeholder="Enter first name">
            </div>
            <div class="form-group col-md-6">
              <label for="lastName">Last Name</label>
              <input type="text" name="last_name" class="form-control" id="last_name" th:field="*{lastName}"  placeholder="Enter last name">
            </div>
            <div class="form-group col-md-6">
              <label for="address1">Address1</label>
              <input type="text" name="address1" class="form-control" id="address_1" th:field="*{address1}" placeholder="Enter address 1">
            </div>
            <div class="form-group col-md-6">
              <label for="city">City</label>
              <input type="text" name="city" class="form-control" id="city" th:field="*{city}" placeholder="Enter city">
            </div>
            <div class="form-group col-md-6">
              <label for="address2">Address2</label>
              <input type="text" name="address2" class="form-control" id="address_2" th:field="*{address2}" placeholder="Enter address 2">
            </div>
            <div class="form-group col-md-6">
              <label for="state">State</label>
              <select class="form-control input-medium bfh-states" name="state" data-country="US" data-state="CA" id="state" th:field="*{state}"   name="state"></select>
            </div>
            <div class="form-group col-md-6">
              <label for="address3">Address3</label>
              <input type="text" name="address3" class="form-control" id="address_3" th:field="*{address3}" placeholder="Enter address 3">
            </div>
            <div class="form-group col-md-6">
              <label for="postalCode">Postal code</label>
              <input type="text" name="postal_code" class="form-control" id="postal_code" th:field="*{postalCode}"  placeholder="zipCode">
            </div>
            <div class="form-group col-md-6">
              <label for="address4">Address4</label>
              <input type="text" name="address4" class="form-control" id="address4" placeholder="Enter address 4">
            </div>
            <div class="form-group col-md-6">
              <label for="state">Country</label>
              <select class="form-control input-medium bfh-countries" name="country" id="country" th:field="*{state}" data-country="US"></select>
         
            </div>
            
            <div class="form-group col-md-6">
              <label>
                <input type="checkbox" value=""> Create address with unvalidated data
              </label>
            </div>
            <div class="form-group col-md-6" align="right">
              <button type="submit" class="btn btn-primary">Validate</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

</html>